/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/*
!/addons/shop/
!/addons/shop/**
/public/assets/libs/
/public/assets/addons/*
!/public/assets/addons/shop/
!/public/assets/addons/shop/**
/public/uploads/*
.DS_Store
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.env.production
/docker/certs/
.svn
.vscode
node_modules
.user.ini
/database/backups/*
!/database/backups/.gitkeep
